body {
	font-family: 'DM Sans', sans-serif;
	background: #012a33;
	color: #9bcad4; 
    font-size: 15px;
}

body::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb (scrollable part) */
}

body::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track (non-scrollable part) */
}

.date {
    margin-top: 25px;
    margin-left: 25px;
    padding: auto;
    display: inline-block;
    padding: 10px;
    border: 2px solid #1f8399;
    border-radius: 60% 50%; 
    font-stretch: condensed;
}

h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
    font-weight: lighter;
}