body {
	margin: auto;
	background-color: #000000;
	color: #B1d1ae;
	height: 95vh;
    align-items: center;
    text-align: center;
    overscroll-behavior-x: hidden;
}

body::-webkit-scrollbar {
    width: 0px; 
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

body::-webkit-scrollbar-track {
    background-color: transparent; 
}

.bodytext {
    width: 95vw;
    margin: 25px;
    padding: 15px;
    text-align: center;
    opacity: 1;
    color: #E0BBD2;
    z-index: 8;
}

.question {
    font-family: 'Advent Pro', sans-serif;
    font-size: 45px;
    color: #4e774a;
}

.title {
    font-family: 'Voltaire', sans-serif;
    font-size: 100px;
    line-height: 1.2;
    background-color: #4e774a;
    color: #B1d1ae;
    animation: colorChange 2s infinite alternate;
    border: 2px solid #4e774a;
    border-radius: 60% 50%; 
}

@keyframes colorChange {
  from {
    color: #6a9366;
  }
  to {
    color: #D1eacf;
  }
}

.question2 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 35px;
    line-height: 0.5;
    color: #B1d1ae;
}

.gridlink {
    font-family: 'Advent Pro', sans-serif;
    font-size: 35px;
    line-height: 0.5;
    color: #B1d1ae;
    background-color: #B1d1ae;
    text-decoration: none;
    border: 2px solid #4e774a;
}

.grid-link:visited {
    color: #B1d1ae;
    text-decoration: none;
}

.grid {
    position: relative;
    font-family: 'Advent Pro', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px;
    color: #B1d1ae;
}

#grid-item {
    font-family: 'Advent Pro', sans-serif;
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 18px;
    position: sticky;
    color: #B1d1ae;
    text-decoration: none;
    }

#grid-item:visited {
    color: #B1d1ae;
    text-decoration: none;
    }