body {
    font-family: garamond, serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, #03083b, #38033b);
    color: #Ece2ff;
    text-decoration: blink;
}
.date {
    margin-top: 25px;
    margin-left: 25px;
    padding: auto;
    font-family: 'Poppins', sans-serif;
    color: #a18fc2; 
    display: inline-block;
    padding: 10px;
    border: 2px solid #8d79b0;
    border-radius: 60% 50%; 
}

h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
    font-weight: lighter;
}

.phrase {
    position: absolute;
    font-size: 30px;
}

#phrase1 {
    top: 35%;
    left: 35%;
    animation: bounce 2s infinite ease-in-out 0s;
    font-weight: lighter;
}

#phrase2 {
    top: 10%;
    right: 10%;
    animation: bounce 2s infinite ease-in-out 1.5s;
    font-weight: lighter;
}

#phrase3 {
    bottom: 15%;
    left: 5%;
    animation: bounce 2s infinite ease-in-out 1s;
    font-weight: lighter;
}

#phrase4 {
    bottom: 45%;
    right: 20%;
    animation: bounce 2s infinite ease-in-out 0.5s;
    font-weight: lighter;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#div1 {
    font-size: 40px;
}

.bottom-right-text {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px; 
    padding: 10px;
    text-align: right;
    line-height: 1;
}

.typewriter {
    text-align: center;
    margin-top: 30px;
}

.typewriter-text {
    overflow: hidden;
    border-right: 1px solid #333;
    white-space: nowrap;
    font-size: 50px;
    font-weight: bold;
    animation: typing 7s steps(33) infinite alternate;
}

@keyframes typing {
    from {
        width: 0; 
    }
    to {
        width: 100%;
    }
}