body {
	font-family: 'Comfortaa', sans-serif;
	background: #572649;
	color: #e0bbd2; 
    font-size: 15px;
    line-height: 0.8;
}

body::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb (scrollable part) */
}

body::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track (non-scrollable part) */
}

.date {
    margin-top: 25px;
    margin-left: 25px;
    padding: auto;
    display: inline-block;
    padding: 10px;
    border: 2px solid #b55385;
    border-radius: 60% 50%; 
    font-stretch: condensed;
    color: #cf91b5;
}

h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
    font-weight: lighter;
}

.bodytext {
    position: absolute;
    width: 95vw;
    margin: 25px;
    padding: 15px;
    width: 473px;
    height: 1190px;
    background-color: none;
    opacity: 1;
    position: absolute;
    top: 314px;
    left: 50%;
    transform: translate(-50%, 40px);
    color: #E0BBD2;
    z-index: 8;
}

.bodytext-container {
    position: absolute;
    width: 95vw;
    margin: 25px;
    padding: 15px;
    width: 473px;
    height: 1190px;
    background-color: #B55385;
    opacity: 0.5;
    position: absolute;
    top: 314px;
    left: 50%;
    transform: translate(-50%, 40px);
    color: #E0BBD2;
    z-index: 8;
}

.bodytext {
    opacity: 1;
}


#div1 {
    top: 0%;
    left: 40%;
    text-align: left;
}

#div2 {
    top: 55%;
    right: 15%;
    text-align: center;
}

#div3 {
    top: 70%;
    right: 50%;
    text-align: left;
}

#div4 {
    top: 80%;
    right: 35%;
    text-align: right;
}

#div5 {
    top: 105%;
    right: 40%;
    text-align: left;
}

#div6 {
    top: 130%;
    right: 15%;
    text-align: center;
}

#div7 {
    top: 180%;
    right: 35%;
    text-align: center;
}

.img {
    position: absolute;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.image1 {
    transform: translate(178px,195px);
}

.image2 {
    transform: translate(-133px,408px);
}

.image3 {
    transform: translate(164px,-216px);
}

.image4 {
    transform: translate(186px,791px);
}

.image5 {
    transform: translate(441px,-307px);
}

.image6 {
    transform: translate(256px,484px);
}

.image7 {
    transform: translate(177px,300px);
}