body {
    background: linear-gradient(to bottom, #3f3005, #Bf9005);
    background-size: 1.5vw;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb (scrollable part) */
}

body::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track (non-scrollable part) */
}

.date {
    margin-top: 25px;
    margin-left: 25px;
    padding: auto;
    color: #D1ba86;
    font-family: 'Bricolage Grotesque', sans-serif;
    display: inline-block;
    padding: 10px;
    border: 2px solid #8a7c17;
    border-radius: 60% 50%; 
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
    font-weight: lighter;
}
.bodytext {
    text-align: center;
    margin: auto;
    padding: auto;
    color: #fffbd9;
    justify-content: center;
    font-family: 'EB Garamond', serif;
}
#div1 {
    font-size: 55px;
    color: #E8d8b4;
}
#div2 {
     font-size: 65px;
     color: #E8d8b4;
}
#div3 {
    font-size: 185px;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.mind {
    font-family: 'Bricolage Grotesque', sans-serif;
    line-height: 0.5;
}
.i {
    background-color: #fffbd9;
    border: 1px solid #fffbd9;
    height: 2000px;
    width: 20px;
    box-align: center;
    position: static;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 49%;
}
#div4 {
    font-size: 185px;
    font-family: 'Bricolage Grotesque', sans-serif;
}
#div5 {
    font-size: 185px;
    font-family: 'Bricolage Grotesque', sans-serif;
}
#div6 {
    font-size: 65px;
}
#div7 {
    font-size: 100px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-stretch: ultra-condensed;
    font-weight: bold;
}
#div8 {
    font-size: 65px;
}

#div8alt {
    opacity: 0;
}

.textcontainer {
            background-color: black; 
            color: antiquewhite;
            padding: 20px; 
            border: 1px solid black; 
            border-radius: 5px; */
            width: 300px; 
            margin-left: 30%;
            margin-right: 30%;
            font-size: 70px;
}
.textcontainer:hover {
            background-color: antiquewhite; 
            color: black;
            padding: 20px; 
            border: 1px solid antiquewhite; 
            border-radius: 5px; */
            width: 300px; 
            margin-left: 30%;
            margin-right: 30%;
            font-size: 70px;
}
#div10 {
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: auto;
    color: #fffbd9;
    justify-content: center;
    font-family: 'Bricolage Grotesque', sans-serif;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #div8: {
    opacity: 0;
}

    #div8alt: {
    opacity: 100;
}

    #div8alt::before {
    content: "i once believed";
    display: block; /* Ensures the content is on a new line */
}

    #div8alt::after {
    content: "love would be";
    display: block; /* Ensures the content is on a new line */
}

@media screen and (min-width: 577px) and (max-width: 768px) {


@media screen and (max-width: 576px) {