body {
      margin: 0;
      height: 100vh;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
    }

    .background-container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .ken-burns-image {
      width: 100%;
      height: auto;
      position: absolute;
      transform: translate(50%, -50%);
      animation: kenBurnsAnimation 45s infinite alternate;
    }

    @keyframes kenBurnsAnimation {
      0% {
        transform: scale(1) translate(0%, 0%);
        opacity: 10%;
      }
      100% {
        transform: scale(2) translate(0%, 0%);
        opacity: 65%;
      }
    }

body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

body::-webkit-scrollbar-track {
    background-color: transparent; 
}

.date {
    margin-top: 25px;
    margin-left: 25px;
    padding: auto;
    color: #FFE8C4;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 10px;
    border: 2px solid #8a7c17;
    border-radius: 60% 50%; 
    opacity: 100%;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
    font-weight: lighter;
}

.bodytext {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    padding: 5px;
    color: #d4be9d;
    margin: 5px;
    padding: auto;
    font-family: 'Kanit', sans-serif;
    }


#div1 {
    font-size: 20px;
    text-align: right;
    justify-content: right;
    top: 30%;
    left: 45%;
}
#div2 {
    font-size: 20px;
    text-align: right;
    justify-content: right;
    top: 35%;
    right: 45%;
}
.paddingneeded {
    padding-block: 10px;
}
#div3 {
    font-size: 25px;
    text-align: right;
    justify-content: right;
    top: 45%;
    left: 40%;
}
#div4 {
    font-size: 25px;
    text-align: right;
    justify-content: right;
    top: 45%;
    right: 40%;
}
#div5 {
    font-size: 30px;
    text-align: right;
    justify-content: right;
    padding-bottom: 10px;
}
.reduceleading {
    line-height: 0.75;
}
#div6 {
    font-size: 40px;
    text-align: right;
    justify-content: right;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}
#div7 {
    font-size: 40px;
    text-align: right;
    justify-content: right;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}
.fireside {
    font-size: 50px;
    text-align: right;
    justify-content: right;
    font-family: 'Oswald', sans-serif;
    color: #FFE8C4;
}

nav {
        line-height: 0.8;
        display: flex;
        position: fixed;
        bottom: 5px;
        left: 46%;
        justify-content: space-between;
        font-family: 'Oswald', sans-serif;
}